html,
body {
  margin: 0;
  padding: 0; }

.tinyone-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: #fbdb00; }

.header {
  background-color: #fbdb00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: font-stack; }
  .header .logo {
    display: flex;
    align-items: center;
    font-family: Helvetica; }
    .header .logo h1 {
      margin-left: 10px; }

.welcome-box {
  height: 200px;
  width: 450px;
  box-sizing: border-box;
  text-align: center;
  font-family: Helvetica; }
  .welcome-box h1 {
    font-weight: bold;
    font-size: 40px; }
  .welcome-box p {
    font-weight: 100; }
  .welcome-box .welcome-box__button {
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    border: 2px solid;
    background-color: #fbdb00;
    font-weight: bold;
    font-size: 18px;
    transition: background-color .5s; }
    .welcome-box .welcome-box__button:hover {
      background-color: black;
      color: white;
      border: black; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica; }
  .container p {
    color: #898989; }

.title {
  box-sizing: border-box;
  text-align: center;
  padding: 30px 30px;
  font-family: Helvetica;
  width: 800px; }
  .title .title h2 {
    font-weight: bold; }

.features {
  box-sizing: border-box;
  height: 800px;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .features .features__content {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center; }
    .features .features__content .feature-box {
      width: 250px;
      margin: 20px;
      display: flex;
      align-items: flex-start; }
      .features .features__content .feature-box .feature-box__title {
        margin: auto;
        font-size: 20px;
        font-weight: bold; }
      .features .features__content .feature-box i {
        margin-right: 20px; }

.pricing__content {
  display: flex;
  flex-direction: row;
  height: 600px; }
  .pricing__content .pricing-box {
    box-sizing: border-box;
    text-align: center;
    width: 250px; }
    .pricing__content .pricing-box .pricing-box-circle {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #ebebeb;
      display: inline-block; }
    .pricing__content .pricing-box h3 {
      font-size: 24px; }
    .pricing__content .pricing-box .pricing-box__desc {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 50px; }
    .pricing__content .pricing-box span {
      color: black;
      font-size: 30px;
      border-bottom: 2px solid; }
    .pricing__content .pricing-box .pricing-box__timing {
      font-size: 14px;
      font-weight: 400; }
    .pricing__content .pricing-box .pricing-box__list {
      list-style-type: none; }
    .pricing__content .pricing-box .pricing-box__button {
      margin-top: 20px;
      border: 2px solid;
      background-color: white;
      padding: 14px;
      font-weight: bold;
      font-size: 16px; }

.works {
  margin-bottom: 100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .works .works__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .works .work-box {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin: 10px; }
    .works .work-box .work-box-img {
      position: relative; }
      .works .work-box .work-box-img .img-info {
        position: absolute;
        bottom: 10px;
        left: 10px; }
      .works .work-box .work-box-img .img-date {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      .works .work-box .work-box-img p {
        color: white; }
  .works h3 {
    margin: 10px; }
  .works p {
    margin: 0; }

.team {
  margin-bottom: 100px; }

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .team-content .team-box__list {
    list-style-type: none;
    padding: 0; }
  .team-content .team-box {
    box-sizing: border-box;
    text-align: center;
    width: 250px; }
    .team-content .team-box .team-box-circle img {
      height: 150px;
      width: 150px;
      border-radius: 50%; }
    .team-content .team-box h3 {
      font-size: 24px;
      margin-bottom: 10px; }
    .team-content .team-box .team-box__role {
      margin: 0px; }

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; }
  .stats .stats-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-bottom: 50px; }
  .stats .stats-box {
    text-align: center; }

.quote-box {
  text-align: center; }
  .quote-box .quote-box__name {
    margin: 10px 0px 5px 0px; }
  .quote-box .quote-box__role {
    margin: 0px; }
  .quote-box .quote-box__quote {
    width: 500px; }

.quote-box img {
  height: 128px;
  width: 128px;
  border-radius: 50%; }

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; }
  .contacts .contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-bottom: 20px; }
    .contacts .contacts-content .contact-box {
      text-align: center; }
      .contacts .contacts-content .contact-box h3 {
        margin: 10px 0 0 0; }
      .contacts .contacts-content .contact-box p {
        margin: 0px; }
  .contacts .message-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacts .message-form .message-form__email {
      box-sizing: border-box;
      width: 400px;
      margin: 10px;
      border: 2px solid;
      font-size: 18px;
      padding: 10px; }
    .contacts .message-form .message-form__name {
      box-sizing: border-box;
      width: 400px;
      margin: 10px;
      border: 2px solid;
      font-size: 18px;
      padding: 10px; }
    .contacts .message-form .message-form__text {
      box-sizing: border-box;
      width: 400px;
      height: 200px;
      margin: 10px;
      border: 2px solid;
      font-size: 18px;
      padding: 10px; }
    .contacts .message-form .message-form__button {
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      padding: 20px 40px 20px 40px;
      font-size: 14px; }

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px; }
  .subscription .subscription-title {
    box-sizing: border-box;
    text-align: center;
    padding: 30px 30px;
    font-family: Helvetica;
    width: 800px;
    color: white; }
  .subscription .subscription-form {
    display: flex;
    justify-content: center; }
    .subscription .subscription-form h3 {
      font-weight: bold; }
    .subscription .subscription-form .subscription-form__input {
      padding: 10px;
      width: 500px;
      border: none;
      padding: 20px 20px;
      font-size: 18px; }
    .subscription .subscription-form .subscription-form__button {
      width: 150px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      margin-left: 10px; }
      .subscription .subscription-form .subscription-form__button:hover {
        background-color: #898989;
        color: white; }
      .subscription .subscription-form .subscription-form__button:active {
        background-color: green; }

.footer {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white; }
  .footer .footer-address {
    margin-top: 100px; }
  .footer .footer-links {
    box-sizing: border-box;
    margin: 100px 20px; }
    .footer .footer-links .footer-links__table {
      list-style-type: none;
      margin: 0px; }
      .footer .footer-links .footer-links__table a {
        color: white;
        text-decoration: none; }
        .footer .footer-links .footer-links__table a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
