@import 'reset';
$main-color: #fbdb00;
$text-color: #898989;
$font-stack: Helvetica;


.tinyone-page{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 700px;
  background-color: $main-color;
}
.header{
  background-color: $main-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: font-stack;

  .logo{
    display: flex;
    align-items: center;
    font-family: $font-stack;

    h1{
      margin-left: 10px;
    }
  }
}
.welcome-box{
  height: 200px;
  width: 450px;
  // border: 1px solid;
  box-sizing: border-box;
  text-align: center;
  font-family: $font-stack;
  // display: flex;
  // justify-content: center;

  h1 {
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-weight: 100;
    // width: 300px;
  }
  
  .welcome-box__button {
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    border: 2px solid;
    background-color: $main-color;
    font-weight: bold;
    font-size: 18px;
    transition: background-color .5s;

    &:hover {
      background-color: black;
      color: white;
      border: black;
    }
  }
}
// .welcome-box__button :hover{
//   background-color: black;
//   color: white;
// }
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-stack;
  p {
    color: $text-color;
  }
  // justify-content: center;
  // align-content: space-between;
}
.title{
  box-sizing: border-box;
  text-align: center;
  padding: 30px 30px;
  font-family: $font-stack;
  width: 800px;

  .title h2{
    font-weight: bold;

  }
}
.features{
  box-sizing: border-box;
  height: 800px;
  width: 1000px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  .features__content{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    align-self: center;
    justify-content: center;
  
    .feature-box{
      // box-sizing: border-box;
      width: 250px;
      margin: 20px;
      display: flex;
      align-items: flex-start;
      
      .feature-box__title{
        margin: auto;
        font-size: 20px;
        font-weight: bold;
      }
      i {
        margin-right: 20px; 
      }
    }
  }
}
.pricing__content{
  display: flex;
  flex-direction: row;
  height: 600px;

  .pricing-box{
    box-sizing: border-box;
    text-align: center;
    width: 250px;
  
    .pricing-box-circle{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #ebebeb;
      display: inline-block;
    }
  
    h3 {
      font-size: 24px;
    }
    .pricing-box__desc{
      font-size: 12px;
      font-weight: 400; 
      margin-bottom: 50px;
    }
    span {
      color: black;
      font-size: 30px;
      border-bottom: 2px solid;
    }
    .pricing-box__timing {
      font-size: 14px;
      font-weight: 400; 
    }  
    .pricing-box__list{
      list-style-type: none;    
    }
    .pricing-box__button{
      margin-top: 20px;
      border: 2px solid;
      background-color: white;
      padding: 14px;
      font-weight: bold;
      font-size: 16px;
    }
    
  }
}
.works{
  margin-bottom: 100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .works__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .work-box{
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin: 10px;

    .work-box-img{
      position: relative;
      
        .img-info{
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
        
        .img-date{
          position: absolute;
          bottom: 10px;
          right: 10px;
          
        }
        
        p {
          color: white
        }
    }
  }

  h3{
    margin: 10px;
  }
  p {
    margin: 0;
  }
}
.team{
  margin-bottom: 100px;
}
.team-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .team-box__list{
    list-style-type: none;
    padding: 0;
  }

  .team-box{
    box-sizing: border-box;
    text-align: center;
    width: 250px;
    
    .team-box-circle img{
      height: 150px; 
      width: 150px;
      border-radius: 50%;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .team-box__role {
      margin: 0px;
    }
  }

  
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  .stats-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-bottom: 50px;
  }
  .stats-box{
    text-align: center;
  }
}
.quote-box{
  text-align: center;

  .quote-box__name{
    margin: 10px 0px 5px 0px;
  }
  .quote-box__role{
    margin: 0px;
  }
  .quote-box__quote{
    width: 500px;
  }
}
.quote-box img{
  height: 128px; 
  width: 128px;
  border-radius: 50%;

}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  .contacts-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-bottom: 20px;

    .contact-box{
      text-align: center;

      h3 {
        margin: 10px 0 0 0;
      }
      p{
        margin: 0px;
      }
    }
  }

  .message-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .message-form__email{
      box-sizing: border-box;
      width: 400px;
      margin: 10px;
      border: 2px solid;  
      font-size: 18px;
      padding: 10px 
    }
    .message-form__name{
      box-sizing: border-box;
      width: 400px;
      margin: 10px;
      border: 2px solid;
      font-size: 18px;
      padding: 10px;
    }
    .message-form__text{
      box-sizing: border-box;
      width: 400px;
      height: 200px;
      margin: 10px;
      border: 2px solid;
      font-size: 18px;
      padding: 10px;
    } 
    .message-form__button{
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      padding: 20px 40px 20px 40px;
      font-size: 14px;
    }
  }
}
.subscription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px;

  .subscription-title{
    box-sizing: border-box;
    text-align: center;
    padding: 30px 30px;
    font-family: $font-stack;
    width: 800px;
    color: white;
  }
  .subscription-form{
    display: flex;
    justify-content: center;  
    
    h3{
      font-weight: bold;
    }

    .subscription-form__input{
      padding: 10px;
      width: 500px;
      border: none;
      padding: 20px 20px;
      font-size: 18px;
    }
    .subscription-form__button{
      width: 150px;
      font-size: 16px;

      font-weight: bold;
      border: none;
      margin-left: 10px;

      &:hover{
        background-color: $text-color;
        color: white;
      }
      &:active{
        background-color: green;
      }
    }
  }
}
.footer{
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;

  .footer-address{
    margin-top: 100px;
  }

  .footer-links{
    box-sizing: border-box;
    margin: 100px 20px;

    .footer-links__table{
      list-style-type: none;
      margin: 0px;

      a {
        color: white;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
